/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 300 to 900 */

* {
    font-family: "Darker Grotesque", sans-serif;
}

main {
    margin-bottom: 10px
}

h2 {
    padding-left: 5px;
    padding-bottom: 4px;
}

#assignment-description {
    font-style: italic;
}

.numbered-items {
    font-weight: bold;
}