* {
    box-sizing: border-box; /* border-box, my beloved */
}

body {
    margin: 0px
}

header {
    background-color: yellow;
    padding: 5px 500px 10px 500px;
    font-size: 40px;
    font-weight: bold;
}

main {
    padding: 0px 500px 10px 500px;
}

img {
    width: 100%;
}

a {
    color: purple;
    text-decoration: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}

footer {
    background-color: yellow;
    padding: 5px 500px 10px 500px;
    position: relative;
    bottom: 0px;
    width: 100%;
}

@media screen and (max-width: 1014px) {
    main, footer {
        padding: 0px 20px
    }
}