* {
    box-sizing: border-box; /* border-box, my beloved */
}

body {
    margin: 0px;
	font-family: "Luckiest Guy", cursive;
}

header {
    background-color: grey;
    padding: 15px 500px 10px 500px;
    font-size: 40px;
	position: sticky;
	top: 0px;
	left: 0px;
}

#clipped-text {
	font-size: 100px;
	text-align: center;
	background-image: url(http://unsplash.it/800);
	background-size: cover;
	background-clip: text;
	color: transparent;
}

#hamburger {
	float: left;
	width: 35px;
	margin-right: 20px;
	margin-top: 5px;
}

#hamburger:hover {
	cursor: pointer;
}

header a:hover {
	font-weight: bold;
}

#sidenav {
	height: 100%;
	width: 0px;
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 0px;
	background-color: black;
	overflow-x: hidden;
	/* transition: 0.5s; */
	padding-top: 60px;
}

#closebtn {
	position: absolute;
	top: 0px;
	right: 12px;
	font-size: 36px;
	margin-left: 50px;
}

#closebtn:hover {
	cursor: pointer;
}

main {
    padding: 10px 500px 10px 500px;
}

img {
    width: 100%;
}

a {
    color: purple;
    text-decoration: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}

footer {
    background-color: grey;
    padding: 10px 500px 10px 500px;
    width: 100%;
}

@media screen and (max-width: 1014px) {
    header, main, footer {
        padding-right: 10px;
		padding-left: 10px;
    }
}