* {
    box-sizing: border-box; /* border-box, my beloved */
}

body {
    margin: 0px
}

header {
    background-color: grey;
    padding: 15px 500px 10px 500px;
    font-size: 40px;
	position: sticky;
	top: 0px;
	left: 0px;
}

header a:hover {
	font-weight: bold;
}

main {
    padding: 0px 500px 10px 500px;
}

img {
    width: 100%;
}

a {
    color: purple;
    text-decoration: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}

footer {
    background-color: grey;
    padding: 15px 500px 20px 500px;
    width: 100%;
}

@media screen and (max-width: 1014px) {
    header, main, footer {
        padding-right: 10px;
		padding-left: 10px;
    }
}